<div class="header">
    <div class="wrapper">
        <a href="#" class="logo">
            <img src="lib/css/images/logo.png" alt="Phan Thi Thuy Nguyen" />
        </a>
        <div class="menu">
            <ul>
                <li id="m-profile"><a ui-sref="app.profile"><img src="lib/css/images/m_Profile.png" alt="Thông tin cá nhân"></a></li>
                <li id="m-skill"><a ui-sref="app.skill"><img src="lib/css/images/m_Skill.png" alt="Kỹ năng"></a></li>
                <li id="m-edu"><a ui-sref="app.edu"><img src="lib/css/images/m_Edu.png" alt="Trình độ học vấn"></a></li>
                <li id="m-experience"><a ui-sref="app.experience"><img src="lib/css/images/m_Experience.png" alt="Kinh nghiệm"></a></li>
                <li id="m-porfolio"><a ui-sref="app.porfolio"><img src="lib/css/images/m_Porfolio.png" alt="Porfolio"></a></li>
                <li id="m-reference"><a ui-sref="app.reference"><img src="lib/css/images/m_Reference.png" alt="Người tham khảo"></a></li>
                <li id="m-contact"><a ui-sref="app.contact"><img src="lib/css/images/m_Contact.png" alt="Liên hệ"></a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="main-content">
    <div class="wrapper" ui-view>
        
    </div>
</div>
<div class="footer"></div>
<div id="anchor"></div>
<div class="overlay">&nbsp;</div>
<div class="popup" rel="">
    <a href="#" class="btnClose">&nbsp;</a>
    <div class="popup-content">
        
    </div>
</div>