<div class="block">
	<h1 class="block-title" id="contact">
		<img src="lib/css/images/contact_label.png" alt="Liên hệ" />
		<span>Thiết kế đồ họa</span>
	</h1>
	<div class="box-contact">
		<div class="left">
			<div class="row"><label for="name">Họ tên</label><input type="text" name="name" class="textbox"></div>
			<div class="row"><label for="email">Email</label><input type="text" name="email" class="textbox"></div>
			<div class="row"><label for="content">Tin nhắn của bạn</label><textarea name="content" class="textbox"></textarea></div>
			<div class="row ar">
				<input type="submit" class="button" value="Gửi" />
			</div>
		</div>
		<div class="right">
			<div class="nfo">&nbsp;</div>
			<div id="map" class="map"></div>
			<input type="hidden" id="hfZoom" value="17">
			<input type="hidden" id="hfLong" value="106.68424">
			<input type="hidden" id="hfLat" value="10.74613">
		</div>
		<div class="clear"></div>
	</div>
</div>